<div id="mobile-bar">
    <a class="menu-trigger" href="#mobilemenu"><i class="fa fa-bars"></i></a>
    <h1 class="mob-title"></h1>
</div>
<div id="page">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    
                    <nav class="nav row">
                        <div class="col-sm-5">
                            <ul class="navigation left-nav">
                                <li><a href="/">Главная страница</a></li>
                                <li><a href="/product/list/1">Все товары</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-2">
                            <!-- <h1 class="logo"><a href="index.html"><img src="images/dummy/logo_white.png" alt=""></a></h1> -->
                        </div>

                        <div class="col-sm-5">
                            <ul class="navigation right-nav">
                                {{#if isAuth}}
                                    <li><a class="a-header" href="/logout">Выйти</a></li>
                                {{else}}
                                    <li><a class="a-header" data-toggle="modal" data-target="#loginModal">Войти</a></li>
                                    <li><a class="a-header" data-toggle="modal" data-target="#RegisterModal">Регистрация</a></li>
                                {{/if}}
                                {{#if isAdministrator}}
                                    <li><a class="a-header" href="/admin">Панель Администрации</a></li>
                                {{/if}}
                            </ul>
                        </div>
                        <form action="/search" method="Post" role="search" class="searchform">
                            <div>
                                <input type="hidden" name="page" value="1">
                                <input type="text" id="s" name="search" value="" autocomplete="off" style="background-color: aliceblue;" placeholder="поиск">
                                <button class="searchsubmit" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <select class="col-lg-4 form-select main-search" name="categoryId">
                                <option selected value="-1">Все категории</option>
                                {{#each categories}}
                                    <option value='{{this.id}}'>{{this.title}}</option>
                                {{/each}}
                            </select>
                        </form>
                    </nav>

                    <div id="mobilemenu">
                        <ul>
                            <li><a href="/">Главная страница</a></li>
                            <li><a href="/product/list/1">Все товары</a></li>
                            {{#if isAuth}}
                                <li><a href="/logout">Выйти</a></li>
                            {{else}}
                                <li><a href="/login">Войти</a></li>
                                <li><a href="/register">Регистрация</a></li>
                            {{/if}}
                            {{#if isAdministrator}}
                                <li><a href="/admin">Панель Администрации</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <!-- main container -->
            </div>
        </div>
    </header>
