<br><br><br><br>
{{#if error}}
<font color="red">{{error}}</font>
{{/if}}
{{#if goodSet}}
    <font color="green">Успешно загружено {{goodSet}} товаров</font>
{{/if}}
<form method="POST" action="/admin/parse" enctype="multipart/form-data">
    <div class="col col-lg-6">
        <label for="formFile" class="form-label">Загрузите .xslx или .xls файл для обновления каталога товаров</label>
        <input name="parsingFile" class="form-control" type="file" id="formFile">
    </div>
    <br><br>
    <input class="btn btn-warning" type="submit" value="Парсинг">
</form>