<br><br>
<div class="row">
    <form action="/admin/settings/set" method="POST">
        <div class="col col-lg-6 d-flex">
            <div class="col-lg-3">
                <h5>Процент прибыли</h5>
            </div>
            <input style="max-width: 100px;" name="percent" type="number" class="form-control" placeholder="Процент прибыли" value="{{percent}}">
        </div>
        <br><br>
        <button type="submit" class="btn btn-success">Изменить настройки</button>
    </form>
</div>