<br><br>
<div class="row col col-lg-6">
    <ul class="list-group">
        {{#each settings}}
            <li class="list-group-item"><h3><a style="color: black;" href="/admin/settings/{{this.id}}">{{this.title}}</a></h3></li>
        {{/each}}
    </ul>
</div>