.btn-list-more{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.pagination {
    display: inline-block;
  }
  
.pagination a{
color: black !important;
float: left;
padding: 8px 16px;
text-decoration: none !important;
}

.pagination a.active {
background-color: #1289d5;
color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.main-search{
  position: absolute !important;
    top: 0px;
    font-size: medium;
    height: 2.9em;
    right: 7px;
}